.containerProfile{
  
  header{
    display: flex;
    justify-content: end;
    padding: 50px;

    img{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }


  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .image{
     
      background-color: #27CF74;
      margin-bottom: 50px;
      border-radius: 50%;
      padding: 5px;      
      img{
        border-radius: 50%;
        width: 250px;
        height:250px ;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      } 
    }

    h2{
      color: #fff;
    }

    a{
      height: 70px;
      padding: 0 30px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      line-height: 30px;
      background-color: #27CF74;
      cursor: pointer;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 21px;
      
      text-decoration: none;
  
  
      &:hover{
        transition: 0.8;
        filter: brightness(0.9);
      }
    }
  }
}